In [ ]:
# Create a text classification model (e.g., spam vs. ham) using Na√Øve Bayes.
!pip install pandas scikit-learn

Requirement already satisfied: pandas in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: scikit-learn in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: scipy>=1.6.0 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /Users/itami-macbook/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
# Load the dataset
df = pd.read_csv("spam.csv", encoding='latin-1')

# Drop any unnecessary columns (check the dataset structure first)
df = df[['v1', 'v2']]  # Keep only the relevant columns

# Rename columns for clarity
df.columns = ['label', 'text']

# Preview the first few rows
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
# Encode the labels (Spam = 1, Ham = 0)
df['label'] = df['label'].map({'ham': 0, 'spam': 1})

# Preview the data
df.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [13]:
# Veectorize the text data using TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the vectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Transform the text data into TF-IDF features
X = tfidf.fit_transform(df['text'])
y = df['label']

In [14]:
# Splitting the data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shapes of the splits
print(X_train.shape, X_test.shape)

(4457, 8404) (1115, 8404)

In [15]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

# Initialize the Naive Bayes model
model = MultinomialNB()

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.968609865470852

Classification Report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98       965
           1       1.00      0.77      0.87       150

    accuracy                           0.97      1115
   macro avg       0.98      0.88      0.93      1115
weighted avg       0.97      0.97      0.97      1115